*{
    margin: 0%;
    padding: 0%;
}

html{
    background-color: aliceblue;
}

.Banniere {
    background-color: rgb(42, 90, 102);
    text-align: center;
}

.Banniere h1{
    color: white;
    text-shadow: black 2px 2px;
    font-size: 40px;
    padding: 2.5% 0%;
}

.Content{
    width: 40%;
    margin: 5% auto;
    border: solid black 2px;
    border-radius: 20px;
    background-color: white;
}

.Content button{
    width: 180px;
    margin: 5% 3%;
    color: black;
    border: solid grey 2px;
    border-radius: 30px;
    padding: 3% 5%;
}

.Bull button[type="button"],   .IBM button[type="button"],   .Apple button[type="button"]{
    display: inline-block;
  }

  
  #Activate_Bull, #Activate_IBM, #Activate_Apple {
      float: right;
  }


  /* -- CSS de tests -- */

.Bull, .IBM, .Apple{
    width: 70%;
    margin: auto;
}